.GenreBadge {
    width: 110px;
    height: 20px;
    border-radius: 30px;
    background: #19192a;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 5px 5px;*/
    font-size: 12px;
    color: #c5c5c5;
    position: relative;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
}

.GenreBadge:hover::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 50%;
    animation: rootBGimg 3s linear infinite;
    transition: all 100ms linear;
    cursor: pointer;
    background: #ffbe00;
}

@keyframes rootBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}

.GenreBadge:hover::after {
    border-radius: 30px;
    color: white;
    cursor: pointer;
    background: #19192a;
    content: '';
    position: absolute;
    inset: 1px;

}

.GenreBadge h5 {
    z-index: +1;
    cursor: pointer;

}

.GenreBadge:hover {
    color: white;

}

