.MovieInfoFather {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}
.overview{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.MovieInfo{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    color: white;
}

.ImgMovieInfo{
    width: 340px;
    margin: 0 20px 0 0 ;
}

.describtion h1{
    margin: 0;
    width: 400px;

}

.MovieGenre{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 5px -5px;

}

.Spinner {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrLine{
    width: 100px;
    background: #ffbe00;
}