@media screen and (max-width: 375px) {
     form {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    input {
        width: 100px;
        height: 20px;
        border-style: none;
        border-radius: 45px;
        /*position: relative;*/
        /*top: 0;*/
        /*left: 23px;*/
        z-index: 0;
        /*padding-left: 20px;*/
        transition: 500ms;
        background: transparent;
        outline: #606060 0.5px solid;
        color: white;
    }

    button {
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 27px;
        background: rgba(140, 140, 140, 0.15);
        border-radius: 0 50px 50px 0;
        cursor: pointer;
        border-style: none;
        transition: 300ms;
    }


    button:hover {
        background: rgba(197, 197, 197, 0.2);
        cursor: pointer;
    }

    input:focus {
        width: 100px;
        height: 20px;
        outline: rgba(255, 190, 0, 0.5) 0.5px solid;
        transition: 200ms;
    }

    .MuiStack-root.css-e53awj-MuiStack-root{
        display: none;
    }

}


/*button:hover {*/
/*    background: rgba(197, 197, 197, 0.2);*/
/*    cursor: pointer;*/
/*}*/

/*input:focus {*/
/*    outline: rgba(255, 190, 0, 0.5) 0.5px solid;*/
/*    transition: 200ms;*/
/*}*/

/*}*/


form {
    width: 500px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    width: 500px;
    height: 35px;
    border-style: none;
    border-radius: 45px;
    position: relative;
    top: 0;
    left: 23px;
    z-index: 0;
    padding-left: 20px;
    transition: 500ms;
    background: transparent;
    outline: #606060 0.5px solid;
    color: white;
}

button {
    width: 50px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 27px;
    background: rgba(140, 140, 140, 0.15);
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    border-style: none;
    transition: 300ms;
}


button:hover {
    background: rgba(197, 197, 197, 0.2);
    cursor: pointer;
}

input:focus {
    outline: rgba(255, 190, 0, 0.5) 0.5px solid;
    transition: 200ms;
}
