.NavBarFather{
    margin: 10px;
    display: flex;
}

.NavBarMovies,
.NavBar_Home,
.NavBarTVshows,
.NavBarAnim,
.NavBarPlans {
    margin: 10px;
}


a {
    color: #c5c5c5;
    text-decoration: none;
}

a[class='active']{
    color: #ffffff;
    text-decoration-line: underline;
    text-underline-offset: 15px;
    text-decoration-color: #ffbe00;
}

.SearchIconFather{
    z-index: +1;
}

.LogoNav{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}