@media screen and (max-width: 375px) {
    .HeaderFather {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;

    }

    .HeaderFather .NavigationBar{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*.HeaderFather .LogoNav {*/
    /*    display: flex;*/
    /*    justify-content: space-around;*/
    /*    align-items: center;*/
    /*}*/

    /*.NavigationBar {*/
    /*    display: none;*/
    /*}*/

    /*h2 {*/
    /*    font-size: 15px;*/
    /*}*/

}

.HeaderFather {
    width: 100%;
    height: 60px;
    /*background: #0e0e18;*/
    background: rgb(13, 13, 23, 0.5);
    backdrop-filter: blur(5px);
    color: #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: +2;
}

.HeaderLogoBurger{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.LogoNav {
    display: flex;
    /*align-items: center;*/
    /*position: sticky;*/
    /*top: 0;*/

}

.HrLine {
    width: 100%;
    height: 1px;
    background: #ffbe00;
    position: fixed;
    top: 50px;
}

.NavigationBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}