.ListCardFather{
    margin: 50px 20px 50px 20px
}

.ListCardImg{
    width: 300px;
    height: 400px;
}



.ListCardImg {
    /*ransition: transform .2s; !* Animation *!*/
    width: 285px;
    height: 400px;
    margin: 0 auto;
    cursor: pointer;
    transition: 300ms;
   /*border-top-right-radius: 50px;*/
   border-top-left-radius: 60px;
   border-bottom-right-radius: 60px;
}

.ListCardFather:hover{
    backdrop-filter: blur(10px);


}

.ListCardImg:hover {
    transform: scale(1.1);
    transition: 300ms;

}


