.Footer{
    height: 300px;
    background: #19192a;
}

.FooterLogo h2 {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 40px;
    margin: 0;
}

.TopBlock{
    width: 100%;
    display: flex;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
    justify-content: space-between;

}

.FooterNavigationFather{
    margin: 0;
    position: relative;
    top: -10px;
}