.UpcomingFather{
    display: flex;
    /*width: 100vw;*/
    height: 300px;
    justify-content: center;
}

/*.UpcomingList {*/
/*    display: flex;*/
/*    !*width: 100vw;*!*/
/*}*/

.UpcomingFather img{
    width: 130px;
    height: 180px;
}

.UpcomingFather .swiper {
    width: 100%;
    height: 350px;
}
.UpcomingFather .Poster_ListCardFather__f-+gC {
    width: 130px;
    height: 180px;
}

.UpcomingFather .Poster_Title__-HHYh, .Poster_RatingYear__b8R8A {
    width: 130px;
    height: 60px;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;

}
.UpcomingFather .Poster_TitleCard__77653{
    width: 130px;
    height: 180px;
    margin: 0;
}


.Poster_RatingYear__b8R8A{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

