/*@media screen and (max-width: 375px){*/
/*    .UpcomingFather{*/
/*        !*display: flex;*!*/
/*        width: 100vw;*/
/*        height: 300px;*/
/*        !*justify-content: center;*!*/
/*    }*/


/*    .UpcomingFather img{*/
/*        width: 130px;*/
/*        height: 180px;*/
/*    }*/

/*    .UpcomingFather .swiper {*/
/*        width: 100vw;*/
/*        height: 300px;*/
/*        margin: 0 0 0 10px;*/
/*    }*/


/*    .UpcomingFather .Poster_Title__-HHYh{*/
/*        width: 130px;*/
/*        height: 60px;*/
/*        font-size: 12px;*/
/*        !*padding: 20px;*!*/
/*        !*box-sizing: border-box;*!*/
/*        margin: 0;*/

/*    }*/
/*    .UpcomingFather .Poster_TitleCard__77653{*/
/*        width: 130px;*/
/*        margin: 0;*/
/*        height: 180px;*/
/*        !*padding: 0;*!*/
/*    }*/

/*    .UpcomingFather .Poster_RatingYear__b8R8A{*/
/*        width: 130px;*/
/*        height: 60px;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        font-size: 12px;*/
/*        padding: 20px;*/
/*        box-sizing: border-box;*/
/*        margin: 0;*/
/*    }*/


/*}*/
.UpcomingFather{
    width: 100vw;
    height: 300px;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.UpcomingFather .swiper-slide{
    width: 130px;
    height: 180px;
}



.UpcomingFather img{
    width: 130px;
    height: 180px;
}

.UpcomingFather .swiper {
    width: 100vw;
    height: 300px;
    /*margin: 0 0 0 20px;*/
}
.UpcomingFather .swiper-wrapper {
    width: 100vw;
    height: 300px;
}


.UpcomingFather .Poster_Title__-HHYh{
    width: 130px;
    height: 60px;
    font-size: 12px;
    /*padding: 20px;*/
    /*box-sizing: border-box;*/
    margin: 0;

}
.UpcomingFather .Poster_TitleCard__77653{
    width: 130px;
    margin: 0;
    height: 180px;
    /*padding: 0;*/
}

.UpcomingFather .Poster_RatingYear__b8R8A{
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}



