/*@media screen and (max-width: 800px) {*/
/*    .top-title {*/
/*        width: 100%;*/
/*        color: white;*/
/*        margin: 0 0 0 30px;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        position: fixed;*/

/*    }*/
/*    .swiper-wrapper {*/
/*        !*display: flex;*!*/
/*        !*!*justify-content: flex-start;*!*!*/
/*        !*!*align-items: center;*!*!*/
/*        !*!*overflow: scroll;*!*!*/
/*        !*position: fixed;*!*/
/*    }*/

/*    .swiper {*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/

/*    !*.swiper-slide {*!*/
/*    !*    padding: 0 200px 0 200px;*!*/
/*    !*    box-sizing: border-box;*!*/
/*    !*}*!*/

/*}*/

.swiper-Father {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    margin: 50px 0 0 0;
}


.top-title {
    width: 100%;
    color: white;
    margin: 0 0 0px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-title h3 {
    margin: 20px 0 0 20px;
}

.swiper {
    width: 100%;
    height: 250px;
    display: block;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    /*flex-wrap: wrap;*/

}

/*.swiper-wrapper {*/
/*    width: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/



/*.swiper-slide {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/

/*}*/

.swiper-slide {
    width: 100vh;
    height: 100%;
    object-fit: cover;
    cursor: grab;
    z-index: -1;
    /*margin: 0 0 auto 40px;*/
    /*padding: 50px;*/
    /*box-sizing: border-box;*/
}

.swiper-wrapper img {
    display: block;
    width: 300px;
    border-radius: 20px;
    /*z-index: -1;*/
}

.swiper-wrapper {
    width: 100vh;
    z-index: -1;
}

.swiper-pagination-bullet {
    margin: 0;
    background: #ffbe00;
}


